/* Réinitialiser les marges et les paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins", sans-serif;/*police utilisée*/
    color:#565e65;/*couleur de base du texte*/
}
.container{
    max-width: 1200px;/*la class container ne dépassera pas 1200px si on agrandit l'écran*/
    margin: 0 auto;/*les éléments restent centrés*/
}
.text-center{
    text-align: center;/*toutes les class text-center sont centrées*/
}
.row{
    display: flex;/*déclare display  flex sur tous les .row*//*active le modèle de boîte flexible (flexbox), qui permet de disposer les éléments enfants d'un conteneur de manière flexible et réactive.*/
    flex-wrap: wrap;/*permet de faire descendre un élément si tous les éléments représentent plus de 100% de la taille de l'écran*/
}
/*on empêche le header de chevaucher les titres*/
section{
    padding-top: 20px;
}
/*on définit l'espace occupé par chaque colonne*/
.col-100{
    width: 100%;/*chaque class col-100 représente 100% de la taille de l'écran*/
}
.col-25{
    width: 25%;/*chaque class col-25 représente 25% de la taille de l'écran*/
}
.col-33{
    width: 33.33%;
}
.col-50{
    width: 50%;
}
/*les marges*/
.mt-100{/*crée une marge de 100 pixels en haut*/
    margin-top: 100px;
}
.mt-50{/*crée une marge en haut de 50 pixels"*/
    margin-top: 50px;
}
/*les couleurs*/
.color-yellow{/*on applique la couleur jaune à toutes ces éléments*/
    color:#D5F31F;
}
.color-white{
    color:white;
} 
/*on définit taille et couleur des titres*/

 h2{
    color: #029d5b;
    font-size: 3rem;/*on utilise rem plutôt que px pour le responsive*/
}
/*on définit taille et couleur des titres*/
h3{
    font-size: 1.5rem;
    color:#1C2126;
}
h4{
    font-size: 1.3rem;
    color:#1C2126;
}
/* Style de base pour l'en-tête */
header {
    background-color: white;
    color: #1c2126;/*couleur de la police dans le header*/
}
/* La barre de navigation */
.navbar {
    background-color: white;
    width:100%;/*la navbar prend 100% de la largeur de la page*/
    padding:30px;
    position:fixed;/*la navbar reste fixe en haut de l'écran quand on navigue sur la page*/
    display: flex;
    justify-content: space-between; /* Logo à gauche, liens à droite */
    align-items: center;/*les éléments sont centrés dans l'axe transversal*/
    z-index: 1000;/*la navbar se place au dessus des autres éléments, les liens sont toujours clicquables*/
}
/* Style du logo */
.logo {
    font-size: 35px;
    font-weight: bold;
    color:#015a08
}
/* Style du menu */
.menu ul {
    list-style: none;
    display: flex;
}
/* Espacement des liens du menu */
.menu ul li {
    margin-left: 20px;
}
/* Style des liens */
.menu ul li a {
    text-decoration: none;/*retire le surlignage des liens*/
    color: #1c2126;
    font-size: 20px;
    font-weight: bold;
}
/* Style du menu burger (caché par défaut) */
.burger {
    display: none;/*cache le menu burger*/
    flex-direction: column;
    cursor: pointer;
}
.burger span {
    width: 25px;
    height: 3px;
    background-color: #1c2126;
    margin: 4px;
}
/*on définit la taille et la position de l'image feuille*/
.image-banner{
    height: 800px;
    width: 100%;
    object-fit: cover;
}
#banner h1{
    font-size: 3.5rem;
    text-align: end;
    margin-right: 5%;
    margin-top: -250px;
}
/*on définit le style et la couleur du titre*/
#banner h1 a{
    text-decoration: none;/*on retire le surlignage des liens*/
    color:white;/* Couleur du texte */
}
/*on définit la couleur et la taille de la police de la deuxiéme partie du titre*/
.modif-titre{
    color: #d5f31f;
    font-size: 4.5rem;
    font-weight: 700;
}
/*l'équipe*/
/*on définit la marge haute de la section team*/
.marg-team{
    margin-top: 100px;
}
/*on modifie la taille et la forme de toutes les images team*/
.team-modif{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;/*on fait un cercle*/
    overflow: hidden;
}
/*les témoignages*/
.bloc-temoin{
    background-color: #053b44; /* Couleur de fond vert */
    color: white;               /* Couleur du texte*/
    width:100%;
    height: 400px;
}
/*on aligne les éléments horizontalement et verticalement*/
.container-temoin{
    height:400px;
    justify-content: center;
    align-items: center;
}
/*taille et gras de la police des 2500*/
.taille-2500{
    font-size:3.5rem; 
    font-weight: bold;
}
/*taille de la police du texte dous les 2500*/
.taille-client{
    font-size: 25px;
}
/*Services*/
.cadre-service {
    background-color: #f0f3f4; 
    padding: 100px;             /* Espace autour de l'image */
    display: inline-block;     /* Pour que le fond coloré s'adapte à l'image */
    border-radius: 20px;       /* Coins arrondis pour un effet stylé */
}
.services{/*on défint la taille des images*/
    width: 150px;          
    height: 150px;
}
.text-services{/*la taille des textes*/
    font-size: 30px;
    font-weight: bold;
}
/*le formulaire de contact*/
/*on définit la taille du container formulaire et le positionnement des éléments*/
.container-contact{
    width:100%;
    background-color: #053b44;
    height:1000px;
    display: flex;
    align-items: center;
}
/*on crfée une grille pour placer les éléments*/
.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;/*on crée deux colonnes qui vont occuper chacune la moitié du container*/
    grid-template-rows:30px 30px 30px 150px;/*on définit la hauteur des lignes*/
    gap:100px;/*on espace les éléments de la grille*/
}
/*on définit la place du label par rapport au champs*/
.mp-label{
    display: flex;
    flex-direction: column;/*on place la label au dessus du champs*/
    align-items: flex-start;/*on aligne le label et le champs sur la gauche du conteneur*/
}
/*style des élémnets input et textarea*/
input,textarea{
    background-color: transparent;
    border:none ;
    border-bottom: 3px solid;
    border-color: white;
    color:white;/*couleur de la police*/
    font-size: 20px;/*taille de la police*/
    width:100%;
}
/*style des labels*/
label{
    font-size: 20px;
    color: white;
}
/*on place les éléments dans la grille*/
.box-nom{
    grid-column: 1/2;
}
.box-cat{
    grid-column: 2/3;
}
.box-tel{
    grid-column: 1/2;
    grid-row: 2;
}
.box-ville{
    grid-column:2/3 ;
    grid-row: 2;
}
.box-mail{
    grid-column: 1/3;
    grid-row: 3;
}
.box-message{
    grid-column: 1/3;
    grid-row: 4;
}
/*style du bouton*/
button{
    width:200px;
    height:50px;
    background-color: #D5F31F;
    border-radius: 25px;
    color:#1C2126;/*couleur de la police*/
    font-weight: bold;
    padding: 0.5em 1em;/*padding en hauteur et en largeur*/
    border: none;
    font-size: 20px; /* Taille de la police */
    cursor: pointer;/*déclenche l'effet au passage de la souris*/
    transition: opacity 0.2s ease;/*on applique un transition pour l'effet visuel qui suit*/
    float: right;/*on place le bouton sur la droite du container*/
    margin-top:1em;/*on lui applique une marge haute */
}
/*le bouton s'assombrit quand on passe la souris dessus*/
button:hover{
    opacity: 0.7;
}
/*A propos*/
/*on définit la taille du container et le positionnement des éléments*/
.container-a-propos{
    width:100%;
    display: flex;
    justify-content: space-between;
}
/*on définit la taille et le style de la photo*/
.pic-reunion{
    object-fit: cover;
    object-position: center;
    width:580px;
    height:500px;
    border-radius: 30px;
}
/*on définit la taille, l'agencement des éléments et le style du cadre*/
.cadre-a-propos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:580px;
    height:500px;
    border:2px solid;
    border-radius:20px;
    border-color: #053B44;
    padding: 5%;
}
/*la taille des logos*/
.logo{
    width:60px;
    height:50px;
}
/*style et agencement à l'interieur des cercles autour des logos*/
.cercle-logo{
    background-color: white; 
    padding: 40px;             /* Espace autour de l'image */
    display: inline-block;     /* Pour que le fond coloré s'adapte à l'image */
    border-radius: 50%;
    border-color: #053B44;
    border: 7px solid;
}
/*placement et couleur des textes sous les cercles logos*/
.text-logo{
    color:#053B44;
    font-weight: 700;
    margin-top: 10px;
}
/*Galerie*/
/*style de la photo*/
.photo-galerie{
    width: 100%;
    height:auto;
    border-radius: 20px;
}
/*le bas de page*/
/*taille et couleur du bakground*/
.bloc-mentions{
    background-color: #053B44;
    width:100%;
    height:300px;
}
/*positionnement des éléments du bas de page*/
.container-mentions{
    display: flex;
    width:100%;
    height:300px;
    justify-content: space-between;
    align-items: center;
}
/*taille  des icônes et positionnementdu texte*/
.icon{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.text-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}
/*on définit la taille et la couleur du bas du footer*/
.bloc-end{
    width:100%;
    height:150px;
    background-color:#042328;
}
/*on définit la hauteur et l'agencement du container des éléments*/
.container-footer{
    width:100%;
    height:150px;
    justify-content: space-between;
    align-items: center;
}
/*on définit la taille des icônes réseaux sociaux et on applique une transition pour l'effet visuel qui suit*/
.lien-sociaux{
    width: 15px;
    height:15px;
    transition:opacity 0.3s;
}
/*on applique un effet visuel au passage de la souris sur les liens réseaux sociaux*/
.lien-sociaux:hover {
    opacity: 0.5;
}
/*on définit la largeur et l'agencement du container pour ranger les liens réseau sociaux*/
.container-sociaux{
    width:120px;
    justify-content: space-between;
}
/*on définit le style et l'agencement à l'interieur des cadres autour des liens réseaux soxiaux*/
.cadre-sociaux{
    width:30px;
    height:30px;
    border:2px solid;
    border-radius:10px;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*responsive pour les écrans de moins de 1200px*/
@media (max-width:1200px){
    p{/*on applique une marge sur les côtés des textes*/
        margin: 0 20%;
    }
    /*on applique une marge sur les titres h3*/
    h3{
        margin:0 5%;
    }
    /* On modifie l'espacement des liens du menu */
    .menu ul li {
    margin-left: 10px;
    }
    /* On modifie la taille de la police des liens */
    .menu ul li a {
    font-size: 18px;
    }
    /*formulaire de contact*/
    .container-contact{/*on applique un padding sur le formulaire de contact*/
        padding:15px;
    }
    /*a propos*/
    .pic-reunion{/*on redéfinit la taille de la photo à propos*/
        width:100%;
        height:auto;
      /*  overflow: hidden;*/
    }
    .container-a-propos{/*on passe le container en bloc classique pour mettre les éléments les uns sous les autres*/
        display: block;
    }
    .cadre-a-propos{/*on définit la taille et le style du cadre pour le déplacer sur la photo de réunion*/
        margin-top: -200px;
        width:100%;
        opacity:0.9;
        background-color: white;
    }
    /*on applique un padding sur le bas de page*/
    .container-mentions{
        padding:20px;
    }
    .container-footer{
        padding:20px;
    }
    /*on retire la marge appliquée aux textes sur le texte du bas de page*/
    .no-pad{
        margin: 0;
    }
  }
  /*responsive pour les écrans de moins de 1024px*/
@media (max-width:1024px){
    /*on active le menu burger*/
    .menu {
       display: none; /* Cacher le menu normal */
   }
   .burger {
       display: flex; /* Afficher le burger */
   }
   /* Menu en mode mobile */
   .menu.active {
       display: block;
       position: absolute;
       top: 60px;
       right: 0;
       background-color: white;
       width: 100%;
       text-align: center;
   }
   .menu.active ul {
       flex-direction: column; /* Liste verticale */
   }
   .menu.active ul li {
       margin: 15px 0;
   }
   /*on redéfinit la taille et la position du titre dans l'image*/
    #banner h1{
        font-size: 2.5rem;
    }
    /*on redéfinit la taille de la police de la deuxiéme partie du titre*/
    .modif-titre{
        font-size: 3.5rem;
    }
    #banner h1{
        font-size: 3.5rem;
        text-align: end;
        margin-right: 5%;
        margin-top: -200px;
    }
}
/*responsive pour les écrans de moins de 768px*/
@media (max-width: 768px) {
    .col-sm-100{/*si la totalité des éléments en ligne dépasse 100% de la largeur de l'écran, ils passent en colonne*/
        width:100%;
    }
    .mt-100{
        margin-top: 50px;
    }
    .mt-50{
        margin-top: 25px;
    }
    /*on redéfinit la taille des titres*/
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.3rem;
    }
    /*on redéfinit la taille et la position du titre dans l'image*/
    #banner h1{
        font-size: 2rem;
    }
    /*on redéfinit la taille de la police de la deuxiéme partie du titre*/
    .modif-titre{
        font-size: 2.5rem;
    }
    /*on redéfinit la marge de la section team*/
    .marg-team{
        margin-top: 75px;
    }
    /*témoignages*/
    .taille-2500{/*taille et gras de la police des 2500*/
        font-size:2.5rem;
    }   
    .taille-client{/*taille de la police du texte dous les 2500*/
        font-size: 20px;
    }
    /*Services*/
    .cadre-service {/* on redéfinit l'espace autour de l'image */
        padding: 50px; 
    }
    .services{/*on redéfinit la taille des images*/
        width: 100px;          
        height: 100px;
    }
    .text-services{/*on redéfinit la taille du texte*/
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    /*formulaire de contact*/
    .form-grid{/*on passe en bloc classique*/
        display: block;  
    }
    .container-contact{/*on redéfinit la taille du bloc background + padding*/
        height:850px;
    }
    /*a propos*/
    .cadre-a-propos{/*on redéfinit la position et le background du cadre a propos*/
        margin-top: 0;
        background-color: transparent;
        width:100%;
    }
    .logo{/*on redéfinit la taille des logos*/
        width:45px;
        height:35px;
    }
    .cercle-logo{/*on redéfinit l'espace dans le cercle autour des logos*/
        padding: 15px;
    }
    .text-logo{/*on redéfinit la taille des textes sous les cercles logos*/
        font-size: 15px;
    }
    .mt-20{/*on applique la marge mt-20*/
        margin-top:20px;
    }
    /*bas de page*/
    .container-mentions{/*on passe en bloc classique*/
        display: block;
    }
    .bloc-mentions{/*on redéfinit la hauteur du container avec les mentions*/
        height:550px;
    }
    .mp-icon{/*on replace les icônes sur la droite du container*/
        margin-top: -140px;
        float:right;
    }
    .icon{/*on diminue la marge entre les icônes et le texte*/
        margin-right: 5px;
    }
}
@media (max-width:515px){
    #banner h1{/*on redéfinit la marge haute lorsque la deuxième partie du titre passe à la ligne*/
        margin-top: -380px;
    }
    /*on augmente la marge entre le titre et la section team pour que la titre de section en remonte pas sur l'image*/
    .marg-team{
        margin-top: 200px;
    }
}



